/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

html {
	font-size: 12px;
	//background: url(http://i.imgur.com/b9r5sEL.jpg);
	background-color: #547a82;
}

body, html {
	margin: 0;
	padding: 0;
}

.keys {
	display: flex;
	flex: 2;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.key {
	border: 4px solid black;
	border-radius: 6px;
	font-size: 25px;
	margin: 10px;
	padding: 5px;
	color: #5a5050;
	width: 100px;
	transition: all 0.07s;
	text-align: center;
	background: #a2d4ab;

}
.kdb {
	display: block;
	font-size: 40px;
}